:root {

}

body {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 2;

   color: #434455;
   background-color: white;
}

.button{
   cursor: pointer;
}

.header-link:hover,
.header-link:focus {
   color: #404BBF;

}